:root {
  --heightHeader: 60px;
}

.root {
  width: 100dvw;
  height: var(--heightHeader);

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffc107;

  .nav {
    width: 50%;

    .list {
      display: flex;
      justify-content: space-between;

      .link {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1.2em;
        font-weight: 600;

        &.isActive {
          color: #1943ce;
        }
      }
    }
  }
}
