:root {
  // --heightHeader: 60px;
}

.root {
  // width: 100%;
  height: var(--heightHeader);

  // display: flex;
  // justify-content: center;
  // align-items: center;

  background: #044685;

  .nav {
    .list {
      display: flex;

      .link {
        text-wrap: nowrap;
        text-decoration: none;
        color: #dadee0;
        font-size: 1.2em;
        font-weight: 600;

        &.isActive {
          color: #ffffff;
        }
      }

      li:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
