:root {
  --scrollbarWidth: 5px;
  --scrollbarHeight: 5px;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
  &::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    height: var(--scrollbarHeight);
    transition: 0.3s all;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
  }
  &::-webkit-scrollbar-track {
    background: #e6e3ec;
  }
}

body {
}
